# AOC 2022

In [21]:
\cd notebooks

'io

## Advent of Code 2022 - 01

URL: https://adventofcode.com/2022/day/1

We'll study ngn's [solution](https://codeberg.org/ngn/k/src/branch/master/aoc/22/01.k):

In [4]:
x@:3#>x:+/'1_'(&^x)_x:0N,`I$0:"i/01"
*x  /part1
+/x /part2

70296
205381

We'll go step by step, trying to explain the approach, and some of the primitives, but I'm assuming you're familiar with the right-to-left evaluation of `k`, and you've some knowledge of the primitives.

First, read the file and cast it to integers.

Read `i/01` file (`0:"i/01"`) and cast the content to integers (``` `I$```).

We might take the first N elements (`30#`) just to truncate the output (but that's not part of the solution)

In [5]:
30#`I$0:"i/01"

4323 4004 4070 1780 5899 1912 2796 5743 3008 1703 4870 5048 2485 1204 0N 30180 0N 33734 19662 0N 2402 4395 2703 1562 2407 3393 4311 1314 2729 2225

Some nulls over there. Those are the blank lines. 

Prepend a null, so each paragraph starts with a `0N`

In [6]:
30#0N,`I$0:"i/01"

0N 4323 4004 4070 1780 5899 1912 2796 5743 3008 1703 4870 5048 2485 1204 0N 30180 0N 33734 19662 0N 2402 4395 2703 1562 2407 3393 4311 1314 2729

Assign x to this value

In [7]:
x:0N,`I$0:"i/01"

Next is to split the big list by nulls.

In [8]:
5#(&^x)_x

(0N 4323 4004 4070 1780 5899 1912 2796 5743 3008 1703 4870 5048 2485 1204
 0N 30180
 0N 33734 19662
 0N 2402 4395 2703 1562 2407 3393 4311 1314 2729 2225 4420 4136 2867 1032 2095
 0N 7366 3496 6177 1426 4750 2655 3194 4240 4024 3510 2606 2335)

Here's the detail of how we get there:

l_x is `cut`, where you chunk x in the indices indicated by `l`.

First of all, get 1s for `0N`s and 0s for non `0N`.

In [9]:
30#^x

1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0

Transform the bitmask to a list of indices where there are the `1`s.  
That means that `(&^x)` gives us the indices to use for `cut`ting.

In [13]:
5# &^x

0 15 17 20 36

And we pass that as cut points to `cut`.

In [14]:
5# (&^x)_x

(0N 4323 4004 4070 1780 5899 1912 2796 5743 3008 1703 4870 5048 2485 1204
 0N 30180
 0N 33734 19662
 0N 2402 4395 2703 1562 2407 3393 4311 1314 2729 2225 4420 4136 2867 1032 2095
 0N 7366 3496 6177 1426 4750 2655 3194 4240 4024 3510 2606 2335)

For each of those, drop the first element (the `0N`)

In [15]:
5# 1_'(&^x)_x

(4323 4004 4070 1780 5899 1912 2796 5743 3008 1703 4870 5048 2485 1204
 ,30180
 33734 19662
 2402 4395 2703 1562 2407 3393 4311 1314 2729 2225 4420 4136 2867 1032 2095
 7366 3496 6177 1426 4750 2655 3194 4240 4024 3510 2606 2335)

For each of the paragraphs sum them

In [16]:
5# +/'1_'(&^x)_x

48845 30180 53396 41991 45779

And get the first 3.  This is done with `desc` (`>`) which returns the indices of the descendingly sorted elements. We assign the list to the `xx` variable, so we can reuse it a bit after , indexing by the first 3 elements of the return list of `desc` (`xx@3#>xx:...`)

In [178]:
xx@3#>xx:+/'1_'(&^x)_x

70296 68707 66378

Part 1 is to get the biggest one, which is the first

In [179]:
*xx  /part1

48845

Part 2 is the sum of the first 3

In [86]:
+/xx /part2

11315840

## 02